  pip install numpy
  pip install sklearn
  pip install scikit-learn
  pip install wandb
  pip install torch
  pip install torchmetrics
  pip install monai
  pip install nibabel
  pip install h5py
  pip install matplotlib
  pip install torchio
  pip install pandas
  pip install segmentation-models-pytorch
  pip install einops
  pip install yacs